* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
:root {
    --primary-color: #ff5b2e;
}
/*----------Conmmon----------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.section-heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;

    font-weight: 700;
    line-height: 119.231%;
}
.section-desc {
    margin-top: 24px;
    color: #656689;
    font-family: Poppins;
    font-size: 1.6rem;

    font-weight: 400;
    line-height: 187.5%;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
}
.btn__icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}
.btn-primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}
.btn:hover {
    opacity: 0.7;
}
/*--------------Header-------------*/
.header-top {
    background: #fffaf5;
    padding: 26px 0 10px;
    position: sticky;
    top: -16px;
    z-index: 3;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
    display: flex;
}
.navbar__item {
}
.navbar__link {
    padding: 8px 18px;
    color: #5e6085;

    font-size: 1.4rem;

    font-weight: 500;
    line-height: 100%;
    transition: 0.2s;
}
.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}
.signup-cta {
    min-width: 118px;
    height: 50px;
    color: #000958;

    font-size: 1.4rem;

    font-weight: 600;
    line-height: 100%;
    border-radius: 25px;
    border: 1px solid #000958;
}
/*--------------Hero-------------*/
.hero {
    padding: 90px 0;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 121px;
}
.hero__media {
    max-width: 52%;
    display: flex;
    position: relative;
    padding-bottom: 94px;
}
.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
}
.hero__img {
    border-radius: inherit;
    max-width: 100%;
    max-height: 100%;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-left {
    left: -58px;
    bottom: 10px;
}
.hero__decor-right {
    top: 16px;
    right: -40px;
}
.hero__img-wrap-small {
    width: 186px;
    height: 244px;
    align-self: flex-end;
    margin-left: -24px;
    margin-bottom: -58px;
    background: #faa7ad;
    border: 2px solid #f7dddf;
}
.hero__img-small {
    max-width: 100%;
    max-height: 100%;
}
.hero__list {
    left: 129px;
    bottom: 0;
    position: absolute;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    padding: 18px 14px;
}
.hero-list-item {
    display: flex;
}
.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
}
.hero-list-item__info {
    margin-left: 10px;
}
.hero-list-item__title {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;

    font-weight: 600;
    line-height: 100%;
}
.hero-list-item__skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.hero-list-item__separate {
    display: block;
    margin: 20px 0;
    width: 222px;
    height: 2px;
    background: #f2f2f2;
    border-radius: 99px;
}
.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #c6e2fa;
}
.hero__heading {
    color: #000958;

    font-size: 6.6rem;

    font-weight: 800;
    line-height: 115.152%;
}
.hero__desc {
    color: #656689;
    margin-top: 24px;
    font-size: 1.6rem;
    width: 391px;
    font-weight: 400;
    line-height: 187.5%;
}
.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.hero__cta-btn {
    height: 60px;
    border-radius: 31px;
    background: var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    min-width: 189px;
    color: #fff;
    transition: 0.2s;
    font-size: 1.6rem;

    font-weight: 600;
    line-height: 100%;
}
.hero__cta-link {
    color: #000958;
    text-align: center;
    margin-left: 24px;
    font-size: 1.6rem;

    font-weight: 500;
    line-height: 100%;
    text-decoration-line: underline;
}
/*--------------About-------------*/
.about {
    padding: 48px 0 185px;
}
.about__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 146px;
}
.about__label {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;

    font-weight: 600;
    line-height: 100%;
}
.about__heading {
    margin-top: 15px;
}
.about__heading,
.about__desc {
    width: 444px;
}
.about__checklist {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    margin-top: 54px;
    gap: 36px;
}
.about__check-item {
    position: relative;
    display: flex;
    column-gap: 10px;
    align-items: center;
    color: #48496a;

    font-size: 1.8rem;

    font-weight: 500;
    line-height: 100%;
}
.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ff5d31;
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}
.about__check-item::after {
    position: absolute;
    top: 1px;
    left: 5.5px;
    content: url(../icons/Vector.svg);
}
.about__media {
    position: relative;
}
.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 31px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}
.about__card-title {
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;

    font-weight: 700;
    line-height: 100%;
}
.about__card-desc {
    color: #c6f4f9;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;

    font-weight: 400;
    line-height: 142.857%;
}
.about__card-decor {
    position: absolute;
    top: -40px;
    right: -31px;
}
.about__img-wrapper {
    position: relative;
    width: 494px;
    margin-left: auto;
}
.about__img-wrapper::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: inline-block;
    width: 494px;
    height: 336px;
    inset: auto 0 0 0;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}
.about__img {
    display: block;
    margin: 0 auto;
    width: 450px;
}
.about__media-decor {
    position: absolute;
    top: 150px;
    right: -63px;
    z-index: -1;
}
.about__img-wrapper-bottom {
    width: 458px;
    margin-left: 0;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.about__img-wrapper-bottom::after {
    content: none;
}
.about__img-bottom {
    width: 100%;
}
.about__img-decor {
    position: absolute;
}
.about__img-decor:first-child {
    top: 13px;
    right: 64px;
}
.about__img-decor:nth-child(2) {
    top: -16px;
    right: 13px;
}
.about__img-decor:nth-child(3) {
    top: 33px;
    right: -22px;
}
.about__img-decor:nth-child(4) {
    top: 268px;
    right: -33px;
}
.about__img-decor:nth-child(5) {
    top: 336px;
    right: 19px;
}
.about__img-decor:nth-child(6) {
    bottom: -40px;
    right: -24px;
}
.about__img-decor:nth-child(7) {
    bottom: -47px;
    right: -33px;
}
.about__img-decor:nth-child(8) {
    bottom: -55px;
    right: -42px;
}
.about__content-desc {
    width: 511px;
    margin-bottom: 52px;
}
.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
    padding-bottom: 9px;
}
.tab__list::after {
    position: absolute;
    content: "";
    display: inline-block;
    right: 0;
    left: 0;
    bottom: 0;
    width: 562px;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 99px;
}
.tab__item-active::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 95px;
    background: #ff5b2e;
    height: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 99px;
}
.tab__item {
    display: flex;
    column-gap: 12px;
    cursor: pointer;
}
.tab__icon:first-child {
    position: relative;
    bottom: 4px;
}
.tab__icon {
    width: 20px;
}
.tab__title {
    align-items: center;
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;

    font-weight: 600;
    line-height: 100%;
}
.tab__content {
    padding-top: 36px;
}
.tab__content-item {
    display: none;
}
.tab__content-item-active {
    display: block;
}
.tab__content-desc {
    color: #656689;

    font-size: 1.4rem;
    width: 391px;
    font-weight: 400;
    line-height: 171.429%;
}
.tab__content-more {
    position: relative;
    display: block;
    color: #ff5d31;
    font-size: 1.6rem;
    margin-top: 32px;
    font-weight: 500;
    line-height: 100%;
}
.tab__content-more::after {
    position: absolute;
    content: "";
    display: block;
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    bottom: -4px;
    border-radius: 99px;
}
/*--------------Service-------------*/
.service {
    padding: 68px 0 100px;
    background: #fff6ed;
}
.service__top {
    text-align: center;
}
.service__desc {
    color: #5e6085;
    margin-bottom: 15px;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}
.service__body {
    margin-top: 71px;
    column-gap: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}
.service-card {
    cursor: pointer;
    padding: 30px 28px;
    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}
.service-card + .service-card {
    margin-top: 24px;
}
.service-card__heading {
    padding-left: 12px;
    position: relative;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    margin-bottom: 18px;
    font-weight: 600;
    line-height: 100%;
}
.service-card__heading::before {
    position: absolute;
    inset: 0 auto 0 0;
    content: "";
    display: inline-block;
    width: 2px;

    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    border-radius: 1px;
}
.service-card__desc {
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    margin-bottom: 24px;
    font-weight: 400;
    line-height: 171.429%;
}
.service-card__more {
    display: inline-flex;
    align-items: center;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;

    font-weight: 500;
    line-height: 100%;
}
.service-card__more::after {
    content: url(../icons/service-more.svg);
    margin-top: 2px;
    margin-left: 5px;
}
.service__media {
    margin-top: 18px;
    position: relative;
}
.service__media::after {
    position: absolute;
    display: inline-block;
    content: "";
    height: 350px;
    right: 16px;
    left: 16px;
    bottom: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.service__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}
.service__cta-wrap {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service__cta {
    min-width: 214px;
    color: #ff5b2e;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    border-radius: 31px;
    border: 1px solid #ff5b2e;

    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-weight: 500;
    line-height: 100%;
}
/*--------------Staff-------------*/
.staff {
    padding: 130px 0;
}
.staff__heading,
.staff__desc {
    text-align: center;
}
.staff__desc {
    margin-bottom: 15px;
    color: #5e6085;

    font-size: 1.6rem;

    font-weight: 600;
    line-height: 100%;
}
.staff__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 35px;
    margin-top: 45px;
}
.staff-item {
    text-align: center;
}
.staff-item__img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: inherit;
}
.staff-item__img-wrap {
    position: relative;
    border-radius: 130px;
    margin: 0 16px;
}
.staff-item__img-wrap::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 94%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item__img-wrap::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-01.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-position: 0 19px;
    background-image: url(../img/staff-decor-02.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor-03.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-position: 0 19px;
    background-image: url(../img/staff-decor-04.svg);
}
.staff-item__title {
    color: #656689;
    margin-top: 29px;
    margin-bottom: 14px;
    font-family: Poppins;
    font-size: 1.4rem;

    font-weight: 400;
    line-height: 100%;
}
.staff-item__name {
    color: #000958;

    font-family: Sora;
    font-size: 2.2rem;

    font-weight: 600;
    line-height: 100%;
}
.staff__cta-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.staff__cta {
    color: #ff5b2e;
    min-width: 193px;
    text-align: center;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    margin: 48px auto 0;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);

    cursor: pointer;
    font-size: 1.6rem;

    font-weight: 500;
    line-height: 100%;
}
/*--------------Pricing-------------*/
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}
.pricing__container {
    width: 994px;
}
.pricing__heading,
.pricing__desc {
    text-align: center;
}
.pricing__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}
.pricing__switch-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
}
.pricing__switch-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 276px;
    left: 0;
    height: 56px;
    padding: 0 40px;
    flex-shrink: 0;
    border-radius: 31px;
    border: 1px solid rgb(255 91 46 / 60%);
    user-select: none;
    cursor: pointer;
}
.pricing__switch-label::before {
    position: absolute;
    display: inline-block;
    content: "";
    border-radius: 31px;
    background: #ff5b2e;
    width: 140px;
    height: 100%;
    flex-shrink: 0;
    left: inherit;
    transition: 0.05s;
}
.pricing__switch-value {
    color: #fff;
    z-index: 1;
    font-size: 1.6rem;

    font-weight: 500;
    line-height: 100%;
}
.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    width: 131px;
    right: 0;
}
.pricing__switch-input:not(:checked)
    + .pricing__switch-label
    .pricing__switch-value:nth-child(2),
.pricing__switch-input:checked
    + .pricing__switch-label
    .pricing__switch-value:nth-child(1) {
    color: #ff5b2e;
}
.pricing__switch-inner {
    position: relative;
}
.pricing__sale {
    position: absolute;
    top: -10px;
    right: -110px;
}
.pricing__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}
.pricing-item {
    padding: 40px 28px;
    border-radius: 20px;
    background: #fff;
}
.pricing-item__type {
    color: #ff5b2e;
    margin-bottom: 8px;
    font-size: 1.2rem;

    font-weight: 400;
    line-height: 100%;
}
.pricing-item__heading {
    color: #3f4065;
    margin-bottom: 24px;
    font-size: 1.8rem;

    font-weight: 600;
    line-height: 100%;
}
.pricing-item__price {
    color: #000958;
    font-family: Sora;
    font-size: 3.3rem;

    font-weight: 700;
    line-height: 103.03%;
}
.pricing-item__btn {
    margin: 22px 0 6px;
    min-width: 246px;
    background-color: transparent;
    flex-shrink: 0;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    text-align: center;
    cursor: pointer;
    font-size: 1.6rem;
    transition: 0.2s;
    font-weight: 500;
    line-height: 100%;
}
.pricing-item__btn:hover {
    opacity: 1;
    color: #fff;
    background: #ff5b2e;
}
.pricing-item__item {
    margin-top: 18px;
    display: flex;
    color: #656689;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 100%;
}
.pricing-item__item::before {
    margin-right: 18px;
    content: url(../icons/pricing-check.svg);
}
